:root{
    /* Design Colors */
    --darkest-red: #3F1604;
    --dark-red: #740005;
    --red: #C22105;
    --lighter-tan: #EADAC0;
    --tan: #AE7A48;
    --darker-tan: #914919;
    --lighter-grean: #807E2B;
    --darker-green: #454801;
}  