@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/*Variables*/

:root{
    /* Design Colors */
    --darkest-red: #3F1604;
    --dark-red: #740005;
    --red: #C22105;
    --lighter-tan: #EADAC0;
    --tan: #AE7A48;
    --darker-tan: #914919;
    --green: #3F9457;
    --lighter-green: #807E2B;
    --darker-green: #454801;
    --light-grey: #F5F5F5;
    --blue: #306CFE;
    font-family: Alata;
}  

.important{
    color: var(--darkest-red);
    font-size: 1.1em;
    font-weight: bolder;
}

/* || Store Page */
body.store{
    background: url(Asset/bg-1.png) center/cover no-repeat fixed;
}

.store-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 50px;
}

.store-header .right{
    display: flex;
    align-items: center;
    gap: 12px;
}

.store-header__name{
    color: #fff;
    text-decoration: underline;
    font-family: "Aladin";
    font-weight: 100;
    font-size: 2.5em;
}

.store-header__menu .menu-icon{
    color: var(--darkest-red);
    border: 3px solid;
    font-weight: bold;
    border-radius: 9999px;
    padding: 1px 4px;
}

.store-header__open{
    background-color: var(--lighter-tan);
    padding: 15px;
}

.store-header__open{
    font-size: 0.8em;
}

.store-header__open i{
    color: var(--green);
    margin-right: 5px;
    font-size: 1.3em;
}


.store-header__profile{
    color: var(--darkest-red);
    text-align: center;
    font-size: 2.5em;
}



.food-list{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    padding-top: 130px;
    position: relative;
    overflow: hidden;
}

.food-list__left, .food-list__right{
    position: absolute;
    top: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 999px;
    transition: all 0.5s 0.1s;
}

.food-list__left{
    left: 0;
    justify-content: end;
    padding-right: 8px;
    transform: translateX(-65%) translateY(-50%);
}

.food-list__left:hover{
    transform: translateX(-65%) translateY(-50%) scale(1.05);
    transform-origin: left;
}


.food-list__right{
    right: 0;
    justify-content: start;
    padding-left: 8px;
    transform: translateX(65%) translateY(-50%);
}

.food-list__right:hover{
    transform: translateX(65%) translateY(-50%) scale(1.05);
    transform-origin: right;
}

.food-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    width: 230px;
    padding: 0px 15px 30px 15px;
    background-color: var(--lighter-tan);
    transition: all 0.5s 0.1s;
}

.food-card:hover{
    transform: scale(1.05);
}

.food-card img{
    margin-top: -80px;
    margin-bottom: 10px;
}

.food-card__description h2{
    font-weight: bold;
    margin-bottom: 15px;
}

.food-card__description p{
    font-size: 0.7em;
    line-height: 1.5;
}

.food-card__add{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.food-card__add > :first-child{
    background-color: var(--light-grey);
    padding: 10px;
    width: 90px;
    text-align: left;
}

.food-card__add > :first-child i{
    color: var(--blue);
}

.food-card__add > :last-child{
    background-color: var(--tan);
    color: var(--darkest-red);
    padding: 10px 13px;
    border-radius: 999px;
    font-size: 1.5em;
}

.food-card__add > :last-child:hover{
    opacity: 0.8;
}